<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roderick's test page</title>
	<link href="styles/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
	<h1>Welcome to Roderick's alpha-blog</h1>
	<br><br>
	<p>This is the Home page.</p>
</html>
